<div id="content">
  <p><%= link_to 'Back', @programme.feed %></p>

  <h1><%= @programme.title %></h1>
  <img src="<%= @programme.image_url %>"/>
  <p><%= @programme.summary %></p>

  <p>Broadcast <%= l @programme.broadcast, :format => :long %></p>
  <p><%= @programme.duration / 60 %> minutes, expires <%= l @programme.expires, :format => :long %></p>

  <div id="player">
    <audio controls src="https://securegate.iplayer.bbc.co.uk/mediaselector/5/redir/vpid/<%= @programme.ver_pid %>/media/iplayer_stb_uk_stream_aac_concrete/proto/https"></audio>
  </div>
</div>
